/*SECTION_2////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*FONTS///////////////////////////////////////////////////////////////////////////////////////////*/
#_H1 {
  margin-bottom: 0px;
  font-size: 2rem;
  line-height: 2rem;
}

#_H2 {
  margin-bottom: 0px;
  font-size: 1.15rem;
  line-height: 1.35rem;
}

#_H3 {
  margin-bottom: 0px;
  font-size: 0.85rem;
  line-height: 1.3rem;
}

#_H4 {
  margin-bottom: 0px;
}

#_H5 {
  margin-bottom: -2.5px;
}

#TEXT_OUTLINE {
  -webkit-text-stroke: 1.05px rgb(120, 120, 120);
}

#H2_7XL {
  margin-bottom: 0px;
}
/*FONTS///////////////////////////////////////////////////////////////////////////////////////////*/

/*ALL///////////////////////////////////////////////////////////////////////////////////////////*/
.center_holder {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: aliceblue;
  margin: 0;
}

#SHADOW_SECTION_BLOG {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(23, 23, 23);
  z-index: 1;
  top: 0px;
  left: 0;
}

.grid_0_blogimageholder {
  position: relative;
  width: 100%;
  max-width: 1520px;
  background-color: transparent;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  grid-template-rows: 220px auto 120px;
  grid-template-columns: 20px 120px 20px 1fr 20px 120px 20px;
  grid-template-areas:
    ". . . . . . ."
    ". . . SUB . . ."
    ". . . . . . .";
  scroll-margin-top: 120px;
}



#SIGN_UP {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-area: SUB;
  grid-row-gap: 20px;
  grid-template-columns: 400px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "SIGN_UP .";
}


#FORM_BUTTON {
  margin-top: 20px;
  width: 100%;
  height: 50px;
}

.googleCustomButton {
  margin-top: 20px;
  width: 100% !important;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  gap: 10px;
  background-color: #ffffff;
  color: #111827;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.googleCustomButton:hover {
  background-color: #f9fafb;
}

.googleCustomButton:active {
  background-color: #f3f4f6;
}

.googleIcon {
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath fill='%23FFC107' d='M43.611 20.083H42V20H24v8h11.303C33.644 32.853 29.2 36 24 36c-6.627 0-12-5.373-12-12s5.373-12 12-12c3.059 0 5.842 1.154 7.968 3.032l5.657-5.657C34.045 6.053 29.241 4 24 4 12.955 4 4 12.955 4 24s8.955 20 20 20 20-8.955 20-20c0-1.341-.138-2.651-.389-3.917z'/%3E%3Cpath fill='%23FF3D00' d='M6.306 14.691l6.571 4.818C14.655 15.108 18.961 12 24 12c3.059 0 5.842 1.154 7.968 3.032l5.657-5.657C34.045 6.053 29.241 4 24 4c-7.691 0-14.384 4.356-17.694 10.691z'/%3E%3Cpath fill='%234CAF50' d='M24 44c5.145 0 9.86-1.977 13.409-5.197l-6.19-5.238C29.206 35.091 26.715 36 24 36c-5.176 0-9.612-3.126-11.283-7.573l-6.522 5.025C9.505 39.556 16.227 44 24 44z'/%3E%3Cpath fill='%231976D2' d='M43.611 20.083H42V20H24v8h11.303c-1.053 2.853-3.298 5.182-6.094 6.565l.003-.002 6.19 5.238C33.911 41.381 44 36 44 24c0-1.341-.138-2.651-.389-3.917z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}



#BREAKLINE {
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    "LINE_1 TEXT LINE_2";
  align-items: center;
  padding-top: 40px;
}

#LINE_1 {
  background-color: rgb(82 82 82 / var(--tw-border-opacity, 1));
  grid-area: LINE_1;
}

#TEXT {
  grid-area: TEXT;
  padding-left: 20px;
  padding-right: 20px;
}

#LINE_2 {
  background-color: rgb(82 82 82 / var(--tw-border-opacity, 1));
  grid-area: LINE_2;
}









.grid_0_blogimage {
  grid-area: SUB;
  position: relative;
  width: 100%;
  max-width: 1520px;
  background-color: transparent;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
  grid-template-rows: 0px auto 0px;
  grid-template-columns: 0px 120px 20px 1fr 20px 120px 0px;
  grid-template-areas:
    ". . . . . . ."
    ". MAIN-AREA MAIN-AREA MAIN-AREA MAIN-AREA MAIN-AREA ."
    ". . . . . . .";
}

#BLOGIMAGE_HOLDER {
  width: 100%;
  height: auto;
  display: grid;
  grid-area: MAIN-AREA;
  position: relative;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

#BLOGIMAGE {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 320px auto auto;
  grid-template-areas:
    "IMAGE IMAGE"
    "TEXT TEXT"
    "SHARE .";
}

#BLOGIMAGE_2 {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 640px auto auto;
  grid-template-areas:
    "IMAGE IMAGE"
    "TEXT TEXT"
    "SHARE .";
}

#B_IMAGE {
  position: relative;
  grid-area: IMAGE;
  overflow: hidden;
}

#BLOGIMAGE_HOLDER_GRID {
  width: 100%;
  height: auto;
  display: grid;
  grid-area: MAIN-AREA;
  position: relative;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "IMAGE_1 IMAGE_2 IMAGE_2";
}

#BLOGIMAGE_HOLDER_GRID_TWO {
  width: 100%;
  height: auto;
  display: grid;
  grid-area: MAIN-AREA;
  position: relative;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "IMAGE_2 IMAGE_2 IMAGE_1";
}

#BLOGIMAGE_HOLDER_GRID_1 {
  width: 100%;
  height: auto;
  display: grid;
  grid-area: IMAGE_1;
  position: relative;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
}

#BLOGIMAGE_HOLDER_GRID_2 {
  width: 100%;
  height: auto;
  display: grid;
  grid-area: IMAGE_2;
  position: relative;
  grid-row-gap: 40px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

#BLOGIMAGE_HOLDER_2 {
  width: 100%;
  height: auto;
  display: grid;
  grid-area: MAIN-AREA;
  position: relative;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "IMAGE_2 IMAGE_1 IMAGE_1"
    "IMAGE_3 IMAGE_1 IMAGE_1";
}

/*ALL///////////////////////////////////////////////////////////////////////////////////////////*/

/*BREAKPOINT_1////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*ALL///////////////////////////////////////////////////////////////////////////////////////////*/
@media all and (min-width: 960px) and (max-width: 1280px) {
  /* Header is fixed; add top padding so form isn't hidden under it */
  #SHADOW_SECTION_BLOG {
    padding-top: 120px;
  }

  .grid_0_blogimageholder {
    position: relative;
    width: 100%;
    max-width: 1520px;
    background-color: transparent;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-rows: 0px auto 0px;
    grid-template-columns: 30px 1fr 30px;
    grid-template-areas:
      ". . ."
      ".  SUB  ."
      ". . .";
  }

  #BLOGIMAGE_HOLDER {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #SHADOW_SECTION_BLOG {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(23, 23, 23);
    z-index: 1;
    top: 0px;
    left: 0;
  }

  /*ALL/////////////////////////////////////////////////////////////////////////////////////////////////*/
}

/*SECTION_11////ASTRONAUT///////////////////////////////////////////////////////////////////////////////*/
/*BREAKPOINT_2////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*BREAKPOINT_3////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*FONTS/////////////////////////////////////////////////////////////////////////////////////////////////*/

/*FONTS/////////////////////////////////////////////////////////////////////////////////////////////////*/

/*ALL/////////////////////////////////////////////////////////////////////////////////////////////////*/
@media all and (min-width: 480px) and (max-width: 960px) {
  /* Header is fixed; add top padding so form isn't hidden under it */
  #SHADOW_SECTION_BLOG {
    padding-top: 120px;
  }

  .center_holder {
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: aliceblue;
    margin: 0;
  }

  .grid_0_blogimageholder {
    position: relative;
    width: 100%;
    max-width: 1520px;
    background-color: transparent;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-rows: 0px auto 0px;
    grid-template-columns: 30px 1fr 30px;
    grid-template-areas:
      ". . ."
      ".  SUB  ."
      ". . .";
  }

  #BLOGIMAGE_HOLDER {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  #BLOGIMAGE {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 260px auto auto;
    grid-template-areas:
      "IMAGE IMAGE"
      "TEXT TEXT"
      "SHARE .";
  }

  #BLOGIMAGE_HOLDER_GRID {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "IMAGE_2"
      "IMAGE_1";
  }

  #BLOGIMAGE_HOLDER_GRID_TWO {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "IMAGE_2 "
      "IMAGE_1";
  }

  #BLOGIMAGE {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 320px auto auto;
    grid-template-areas:
      "IMAGE IMAGE"
      "TEXT TEXT"
      "SHARE .";
  }

  #BLOGIMAGE_2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 480px auto auto;
    grid-template-areas:
      "IMAGE IMAGE"
      "TEXT TEXT"
      "SHARE .";
  }

  #PRODUCT_TEXT {
    grid-area: TEXT;
  }
}

/*SECTION_11////ASTRONAUT///////////////////////////////////////////////////////////////////////////////*/
/*BREAKPOINT_1////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media all and (min-width: 0px) and (max-width: 480px) {
  /* Header is fixed; add top padding so form isn't hidden under it */
  #SHADOW_SECTION_BLOG {
    padding-top: 120px;
  }

  /*FONTS/////////////////////////////////////////////////////////////////////////////////////////////////*/

  /*FONTS/////////////////////////////////////////////////////////////////////////////////////////////////*/

  /*ALL///////////////////////////////////////////////////////////////////////////////////////////////////*/

  .grid_0_blogimageholder {
    position: relative;
    width: 100%;
    max-width: 1520px;
    background-color: transparent;
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    grid-template-rows: 0px auto 0px;
    grid-template-columns: 20px 1fr 20px;
    grid-template-areas:
      ". . ."
      ".  SUB  ."
      ". . .";
  }

  #BLOGIMAGE_HOLDER {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  #BLOGIMAGE {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 180px auto auto;
    grid-template-areas:
      "IMAGE IMAGE"
      "TEXT TEXT"
      "SHARE .";
  }

  #BLOGIMAGE_HOLDER_GRID {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "IMAGE_2"
      "IMAGE_1";
  }

  #BLOGIMAGE_HOLDER_GRID_TWO {
    width: 100%;
    height: auto;
    display: grid;
    grid-area: MAIN-AREA;
    position: relative;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "IMAGE_2 "
      "IMAGE_1";
  }

  #BLOGIMAGE {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 180px auto auto;
    grid-template-areas:
      "IMAGE IMAGE"
      "TEXT TEXT"
      "SHARE .";
  }

  #BLOGIMAGE_2 {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 480px auto auto;
    grid-template-areas:
      "IMAGE IMAGE"
      "TEXT TEXT"
      "SHARE .";
  }

  #PRODUCT_TEXT {
    grid-area: TEXT;
  }

  /*ALL///////////////////////////////////////////////////////////////////////////////////////////////////*/

  /*SECTION_1/////////////////////////////////////////////////////////////////////////////////////////////*/

  /*SECTION_8////PROCESS//////////////////////////////////////////////////////////////////////////////////*/
}

/*SECTION_11////ASTRONAUT///////////////////////////////////////////////////////////////////////////////*/
