


#VIDEO_CONTAINER {
    grid-area: VIDEO;
    position: relative;
    overflow: hidden;

}


#VIDEO { 
   
    height: 380px;
    position: relative;
}   



@media all and (max-width: 480px) {

#VIDEO_CONTAINER {
  border-radius: 0px !important;

}
    #VIDEO video{ 
        height: 700px;
        object-fit: cover;
        border-radius: 0px !important   ;

    }  

}
