.center_holder {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: aliceblue;
    margin: 0;

}

#SHADOW_SECTION_BLOG {
    position: relative;
    width: 100%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(228 228 231);
    z-index: 1;
    top: 0px;
    left: 0;
}

.grid_0_scroll {
    position: relative;
    width: 100%;
    max-width: 1520px;
    background-color: transparent;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    grid-template-rows: 0px auto 0px;
    grid-template-columns: 20px 120px 20px 1fr 20px 120px 20px;
    grid-template-areas:
        ". .   .   .   .   .   ."
        ". . . SUB . . ."
        ". .   .   .   .   .   .";
}













@media all and (min-width: 960px) and (max-width: 1280px) {}




@media all and (min-width: 480px) and (max-width: 960px) {}




@media all and (min-width: 0px) and (max-width: 480px) {}