.center_holder {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(245 245 244);
  margin: 0;
}

#SHADOW_SECTION_BLOG {
  position: relative;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  background-color: rgb(245 245 244);
  z-index: 1;
  top: 0px;
  left: 0;
}

.grid_0_scroll {
  position: relative;
  width: 100%;
  max-width: 1520px;
  background-color: transparent;
  display: grid;
  grid-column-gap: 0;
  grid-row-gap: 20px;
  grid-template-rows: 0px auto 0px;
  grid-template-columns: 20px 120px 20px 1fr 20px 120px 20px;
  grid-template-areas:
    ". .   .   .   .   .   ."
    ". . . SUB . . ."
    ". .   .   .   .   .   .";
}

#CAROUSEL_HOLDER {
  position: relative;
  grid-area: SUB;
  display: grid;
  grid-template-columns: 0px 1fr 0px;
  grid-template-rows: 0px auto 0px;
  grid-template-areas:
    ". . ."
    ". MAIN ."
    ". . .";
  width: 100%;
  height: 120px;
  background-color: rgb(245 245 244);
}

#CAROUSEL {
  grid-area: MAIN;
  position: absolute;
  width: 100%;
  height: 100%;
}

@media all and (min-width: 960px) and (max-width: 1280px) {
  .grid_0_scroll {
    position: relative;
    width: 100%;
    max-width: 1520px;
    background-color: transparent;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    grid-template-rows: 0px auto 0px;
    grid-template-columns: 40px 120px 20px 1fr 20px 120px 40px;
    grid-template-areas:
      ". .   .   .   .   .   ."
      ". . . SUB SUB SUB ."
      ". .   .   .   .   .   .";
  }
}

@media all and (min-width: 480px) and (max-width: 960px) {
  .grid_0_scroll {
    position: relative;
    width: 100%;
    max-width: 1520px;
    background-color: transparent;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 20px;
    grid-template-rows: 0px auto 0px;
    grid-template-columns: 30px 120px 20px 1fr 20px 120px 30px;
    grid-template-areas:
      ". .   .   .   .   .   ."
      ". . . SUB SUB SUB ."
      ". .   .   .   .   .   .";
  }
}

@media all and (min-width: 0px) and (max-width: 480px) {
  #CAROUSEL_HOLDER {
    position: relative;
    grid-area: SUB;
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 0px auto 0px;
    grid-template-areas:
      ". . ."
      ". MAIN ."
      ". . .";
    width: 100%;
    height: 120px;
    background-color: rgb(245 245 244);
  }

  #CAROUSEL {
    grid-area: MAIN;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}
