env:
  DEBUG: true  # Optional environment variable for debugging

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest  # Run the job on the ubuntu-latest runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use nvm with Node.js 20
        uses: actions/setup-node@v3
        with:
          use-nvm: true  # Use nvm to manage Node.js versions
          node-version: 20  # Specify the desired Node.js version

      - name: Install nvm (if needed)
        run: |
          curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.3/install.sh | bash
          source ~/.bashrc  # Source the .bashrc file after installation

      - name: Deploy using ssh
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.IP }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            #!/bin/bash
            node -v 
            npm  -v 
            
            # Change directory to project directory
            cd /var/www/bimcopilot

            # Pull latest changes from git
            git pull origin main
            npm install -f
            npm run build
            pm2 restart next || pm2 start npm --name next -- start  # Restart existing app or start if not running
            systemctl restart apache2

            # End of script
